<div align="center">
    <h1>Project - Time Series Multi-Horizon Forecasting using Transformers - DATA931  </h1>
    <h2>Ikram IDDOUCH - Sami SBAI </h2>
    
[![Python](https://img.shields.io/badge/python-blue.svg)](https://shields.io/)
[![VisualStudioCode](https://img.shields.io/badge/VisualStudioCode-green.svg)](https://shields.io/)
</div>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
import yfinance as yf
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
%matplotlib inline

In [10]:
df = pd.read_csv('Data/SP500_2000.csv')
df.describe()

             Close         High          Low         Open        Volume
count  6522.000000  6522.000000  6522.000000  6522.000000  6.522000e+03
mean   2256.995758  2269.553488  2242.753358  2256.650969  3.415534e+09
std    1437.026968  1443.403130  1429.518558  1436.722501  1.512569e+09
min     676.530029   695.270020   666.789978   679.280029  0.000000e+00
25%    1210.079956  1215.955017  1201.320038  1209.800018  2.306940e+09
50%    1523.414978  1530.729980  1516.040039  1522.859985  3.527130e+09
75%    2881.677490  2894.019897  2866.377502  2883.037415  4.256095e+09
max    6890.890137  6920.339844  6870.729980  6910.950195  1.145623e+10

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6522 entries, 0 to 6521
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6522 non-null   object
 1   Close   6522 non-null   float64
 2   High    6522 non-null   float64
 3   Low     6522 non-null   float64
 4   Open    6522 non-null   float64
 5   Volume  6522 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 305.8+ KB

In [12]:
duplicates = df.duplicated()
print(duplicates.sum())

0

---
## Data Exploration